<launch>

  <!--Robot Description from URDF-->
  
 

  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>-->

  <!--RViz-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>



  <param name="robot_description_1" command="$(find xacro)/xacro $(find circuit)/src/urdf/mobile_robot.urdf.xacro
  robot_index:=1
  "/>  
  <node name="mobile_robot_1" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description_1 -urdf -z 1 -model mobile_robot_1" />
  <node name="$(anon control_the_bot_1)" pkg="circuit" type="sensor_car.py" output="screen" respawn="true">
    <param name="robot_index" value="1" /> 
  </node>



  <param name="robot_description_2" command="$(find xacro)/xacro $(find circuit)/src/urdf/mobile_robot.urdf.xacro
  robot_index:=2
  "/>  
  <node name="mobile_robot_2" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description_2 -urdf -x -4 -z 1 -model mobile_robot_2" />
  <node name="$(anon control_the_bot_2)" pkg="circuit" type="sensor_car.py" output="screen" respawn="true">
    <param name="robot_index" value="2" /> 
  </node>




  <param name="race_track" command="$(find xacro)/xacro $(find circuit)/src/urdf/race_track.urdf.xacro"/>  
  <node name="race_track" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param race_track -urdf -y -1.5 -model race_track" />


<!-- args="2-test"  -->

  

  <!--<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find circuit)/src/urdf/our_world/model.sdf -y -1.5 -sdf -model model" />-->
  
  
  <!--<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find mobile_robot_description)/src/urdf/portail.urdf -urdf -x 1 -model portail" />-->
  <!--<node type="rviz" name="rviz" pkg="rviz" args="-d $(find mobile_robot_description)/rviz/mobile_robot.rviz" />-->
</launch>





